Repository sankle/fiubook_webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config .eslintrc.json --fix

Update README.md
  README.md
Due: none

mod: login page styling refactor
  images/logo-fiuba.png
  images/logo-fiuba.svg
  package-lock.json
  package.json
  src/App.tsx
  src/components/LoginPage/LoginPage.tsx
  src/components/LoginPage/styles.css
  src/components/LoginPage/styles.css.d.ts
  src/index.css
  src/index.tsx
  tsconfig.json
  typings/custom/declaration.d.ts
  typings/custom/import-png.d.ts
  webpack.config.js
Due: prettier --write, eslint --config .eslintrc.json --fix

Changes login page title
  public/index.html
Due: none

add chakra ui icons
  package-lock.json
  package.json
Due: prettier --write

remove comment
  tsconfig.json
Due: prettier --write

add mocked navigation bar
  src/App.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/HomePage/LoggedUserInfo.tsx
  src/components/Pages/HomePage/NavigationBar.tsx
  src/components/Pages/HomePage/ServiceList.tsx
  src/components/Pages/LoginPage/LoginPage.tsx
  src/global/types.ts
  src/index.tsx
  src/styles/HomePage.css
  src/styles/HomePage.css.d.ts
  src/styles/LoggedUserInfo.css
  src/styles/LoggedUserInfo.css.d.ts
  src/styles/LoginPage.css
  src/styles/LoginPage.css.d.ts
  src/styles/NavigationBar.css
  src/styles/NavigationBar.css.d.ts
  src/styles/index.css
  src/styles/index.css.d.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

nit: linting
  webpack.config.js
Due: none

Add ServiceCard and ServiceList
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/HomePage/NavigationBar.tsx
  src/components/Pages/HomePage/ServiceList.tsx
  src/components/ServiceCard.tsx
  src/components/ServiceList.tsx
  src/global/types.ts
  src/styles/HomePage.css
  src/styles/NavigationBar.css
  src/styles/ServiceCard.css
  src/styles/ServiceCard.css.d.ts
  src/styles/ServiceList.css
  src/styles/ServiceList.css.d.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

refactor and initial (dummy) implementation of bookServiceModal
  src/components/BookServiceModal.tsx
  src/components/ServiceCard.tsx
  src/components/ServiceList.tsx
  src/styles/BookServiceModal.css
  src/styles/BookServiceModal.css.d.ts
  src/styles/ServiceCard.css
  src/styles/ServiceCard.css.d.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

add relay and its basic config
  .babelrc
  data/schema.graphql
  package-lock.json
  package.json
  relay.config.js
Due: prettier --write

get relay to work. Execute postSession query. Remove unnecessary tracked files
  .babelrc
  .gitignore
  package-lock.json
  package.json
  src/components/Pages/LoginPage/LoginPage.tsx
  src/global/types.ts
  src/index.tsx
  src/styles/BookServiceModal.css.d.ts
  src/styles/HomePage.css.d.ts
  src/styles/LoggedUserInfo.css.d.ts
  src/styles/LoginPage.css.d.ts
  src/styles/NavigationBar.css.d.ts
  src/styles/ServiceCard.css.d.ts
  src/styles/ServiceList.css.d.ts
  webpack.config.js
Due: prettier --write, eslint --config .eslintrc.json --fix

add user provider to store user info
  src/App.tsx
  src/components/Pages/LoginPage/LoginPage.tsx
  src/components/Pages/LoginPage/WrongLoginAlert.tsx
  src/contexts/UserContext.tsx
  src/services/sessionService.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

refactor relay config into context and use token to make requests
  .eslintrc.json
  package.json
  src/App.tsx
  src/contexts/RelayContext.tsx
  src/index.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

book service modal poc & changes to make libraries work
  .prettierrc
  data/schema.graphql
  package-lock.json
  package.json
  src/Globals.d.ts
  src/components/BookServiceModal.tsx
  src/components/DatePicker.tsx
  src/components/IconWithText.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/HomePage/LoggedUserInfo.tsx
  src/components/Pages/HomePage/NavigationBar.tsx
  src/components/Pages/LoginPage/LoginPage.tsx
  src/components/ServiceCard.tsx
  src/components/ServiceImage.tsx
  src/components/ServiceList.tsx
  src/components/ServiceTags.tsx
  src/index.tsx
  src/styles/BookServiceModal.css
  src/styles/BookServiceModal.module.css
  src/styles/DatePicker.module.css
  src/styles/HomePage.module.css
  src/styles/IconWithText.module.css
  src/styles/LoggedUserInfo.module.css
  src/styles/LoginPage.module.css
  src/styles/NavigationBar.module.css
  src/styles/ServiceCard.module.css
  src/styles/ServiceImage.module.css
  src/styles/ServiceList.module.css
  src/styles/ServiceTags.module.css
  src/styles/index.css.d.ts
  src/styles/index.module.css
  src/styles/styles.css.d.ts
  tsconfig.json
  typings/custom/declaration.d.ts
  webpack.config.js
Due: prettier --write, eslint --config .eslintrc.json --fix

remove unnecessary code
  src/components/DatePicker.tsx
  src/styles/DatePicker.module.css
Due: prettier --write, eslint --config .eslintrc.json --fix

integrate paginated services query with backend
  data/schema.graphql
  src/components/BookServiceModal.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/components/ServiceCard.tsx
  src/components/ServiceImage.tsx
  src/components/ServiceList.tsx
  src/components/ServiceTags.tsx
  src/global/types.ts
  webpack.config.js
Due: prettier --write, eslint --config .eslintrc.json --fix

fix session handling
  .eslintrc.json
  package-lock.json
  package.json
  src/components/Pages/HomePage/LoggedUserInfo.tsx
  src/components/Pages/LoginPage/LoginPage.tsx
  src/contexts/RelayContext.tsx
  src/contexts/UserContext.tsx
  src/index.tsx
  src/services/sessionService.ts
  src/services/sessionService.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

memoize calendar properties
  src/components/BookServiceModal.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

avoid random tag changing
  src/components/ServiceTags.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

fix timezone drift in booking modal
  src/components/BookServiceModal.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

handle slots inside restrictions in booking service modal
  config/default.ts
  src/components/BookServiceModal.tsx
  src/components/ServiceImage.tsx
  src/constants.ts
  src/contexts/RelayContext.tsx
  src/utils/dateRangeUtils.ts
  tsconfig.json
Due: prettier --write, eslint --config .eslintrc.json --fix

lint fix
  src/utils/dateRangeUtils.ts
Due: none

remove encoding PUBLIC_URL warnings
  public/index.html
  webpack.config.js
Due: none

import config with aliasing
  src/contexts/RelayContext.tsx
  webpack.config.js
Due: prettier --write, eslint --config .eslintrc.json --fix

refactor session service
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/LoginPage/LoginPage.tsx
  src/contexts/RelayContext.tsx
  src/services/sessionService.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

Basic bookings list in place
  config/default.ts
  data/schema.graphql
  src/components/BookingCard.tsx
  src/components/MyBookingsList.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/contexts/RelayContext.tsx
  src/services/sessionService.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

Finishes basic my bookings page
  package-lock.json
  package.json
  src/components/BookingCard.tsx
  src/components/MyBookingsList.tsx
  src/styles/BookingCard.module.css
  src/styles/MyBookingsList.module.css
  src/styles/ServiceCard.module.css
Due: prettier --write, eslint --config .eslintrc.json --fix

Adds booking cancellation modal
  package-lock.json
  package.json
  src/components/BookingCard.tsx
  src/components/CancelBookingModal.tsx
  src/constants.ts
  src/styles/CancelBookingModal.module.css
Due: prettier --write, eslint --config .eslintrc.json --fix

Hooks up cancellation modal with backend
  src/components/CancelBookingModal.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

Fetches logged user information and displays it in top right corner
  config/default.ts
  data/schema.graphql
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/HomePage/LoggedUserInfo.tsx
  src/components/Pages/HomePage/NavigationBar.tsx
  src/global/types.ts
  src/services/sessionService.ts
Due: prettier --write, eslint --config .eslintrc.json --fix

Basic bookings list in place
  data/schema.graphql
  src/components/BookingCard.tsx
  src/components/MyBookingsList.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/contexts/RelayContext.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

Fetches logged user information and displays it in top right corner
  data/schema.graphql
  src/components/Pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

Adds basic new service creation form
  src/components/NewServiceForm.tsx
  src/components/Pages/HomePage/HomePage.tsx
  src/components/Pages/HomePage/NavigationBar.tsx
  src/global/types.ts
  src/styles/NewServiceForm.module.css
Due: prettier --write, eslint --config .eslintrc.json --fix

Minor modifications
  src/styles/NewServiceForm.module.css
Due: none

New Service form skeleton
  src/components/NewServiceForm.tsx
  src/styles/NewServiceForm.module.css
Due: prettier --write, eslint --config .eslintrc.json --fix

Handling form validity with Formik
  src/components/NewServiceForm.tsx
Due: prettier --write, eslint --config .eslintrc.json --fix

Path conditions:
  prettier --write: (any of: *.tsx) or (any of: *.json)
  eslint --config .eslintrc.json --fix: any of: *.tsx
